@{
    ViewData["Title"] = "Home Page";
    var message = ViewBag.WelcomeMessage;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@message</p>
</div>
<div class="text-center">
    <p>
        Borrow, Return or Browse various selected games! Select the Collection tab to get started!
    </p>
</div>
